body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height:calc(100% - 1rem);
}

*:focus{
  outline: unset!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.higlight{
  color:red!important;
}

.header{
  position: absolute;
  height: 5rem;
  width:100%;
  top:0;
  background-color: black;
  color: white;
}
.header .header-body{
  width:100%;
  vertical-align: middle;
  justify-content: center;
  padding:0.5rem;
  display: flex;
}

.header div{
  margin: auto 0;
  width:50%;
}

.header .header-body div:nth-of-type(1){
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left:0;
}

.header .header-body div:nth-of-type(2){
  font-size: 20px;
  font-weight: 300;
  right:0;
  position: relative;
  text-align: end;
  margin-right: 2rem;
}

.no-data-found{
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  text-align: center;  
}

tr:nth-of-type(1){
  font-weight: 900;
}

tr td:nth-of-type(2){
  width:50%;
}

thead th:nth-of-type(2){
  cursor: pointer;
}

td p:nth-last-of-type(1){
  color:#020202;
  font-size: 10px;
  font-weight: 200;
}

.content{
  top:6rem;
  position: relative;
}

.filter{
  display: flex;
  width:100%;
  margin: 1rem!important;
  justify-content: center;
}

.filter select{
  width: 20%;
  margin: 0 1rem;
  height: 2rem;
  border-radius: 10px;
}

.moving-header{
  font-size: 15px!important;
  color:yellow!important;
  animation: movetext 10s infinite;
  animation-fill-mode: none;
  position: absolute;
  animation-timing-function: linear;
  margin: unset!important;
}

@keyframes movetext{
  0% { left: 0; position: absolute;}
  50%{ left : calc(100% - 27rem);position: absolute;}
  100%{ left: 0;position: absolute;}
}

